name: Release WP-React-Lib to NPM

on:
  workflow_dispatch:
  push:
    branches:
      - main

permissions:
  contents: write
  packages: write
  id-token: write
  pull-requests: write

jobs:
  release:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ${{ github.workspace }}/wp-react-lib

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: actions/setup-node@v4
        with:
          node-version: '22.x'

      - name: Install dependencies
        run: npm install

      - name: Run TypeScript Check
        run: npm run typecheck

      - name: Build
        run: npm run build

      - name: Create Release
        uses: changesets/action@v1.5.2
        id: release
        with:
          version: npm run version
          publish: npm exec changeset publish --git-tag
          commit: "chore(release): update version"
          title: "chore(release): update version"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_CONFIG_PROVENANCE: true


